int    steps  = 10000000;
double period = 0.5;
double mass   = 0.5;
double pos_x  = 0;
double pos_y  = 1;
double vel_x  = 1;
double vel_y  = 1.2;
double mass   = 3;
double pos_x  = 6;
double pos_y  = 4;
double vel_x  = 1;
double vel_y  = 1.2;
double mass   = 2;
double pos_x  = 2;
double pos_y  = 3;
double vel_x  = 1;
double vel_y  = 1.2;
